* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Pink aura wallpaper.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-attachment: scroll;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: lightpink;
    border-radius: 15px;
    width: 300px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: "Lexend", sans-serif;
}

div {
    text-align: center;
    margin-top: 30px;
    font-family: "Lexend", sans-serif;
}

footer {
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    font-family: "Pixelify Sans", sans-serif;
}

#letter {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    background-color: rgba(219, 112, 147, 0.6);
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    margin-top: 10px;
}

#score {
    color: lightyellow;
    font-family: "Lexend", sans-serif;
    font-size: 23px;
    margin-top: 15px;
    margin: auto;
}

#message {
    color: white;
    font-family: "Lexend", sans-serif;
    font-size: 15px;
    background-color: rgba(255, 182, 193, 0.6);
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    width: 150px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    width: 800px;
    height: 200px;  
    margin: auto;
}
